body {
    padding-top: 15px;
    background-color: #fbfcfe;
}

h1, h2{
    color:#1BBF21;
}

h3{
    color:#53D228;
    margin-top: 9px;
    margin-bottom: 2px;
}


label {
    color: black;
    font-family: verdana;
    font-size: 15px;
}

.textarea {
    color: black;
    font-family: verdana;
    font-size: 14px;
    width: calc(100% - 20px);
}

.githubUrlTextarea {
    height:15px;
    resize: none;
}

.formTextarea {
    background-color: #FFFF00"
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 20px);
    height:50%;
    min-height:120px;
    float:left;
    resize: vertical;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button {
    font-family: verdana;
    font-size: 15px;
}

/* link states  */
a:link {
    color: Coral;
}
a:visited {
    color: BlueViolet;
}
a:hover {
    color: hotpink;
}
a:active {
    color: green;
}