@(readme: String = "", githubUrl: String = "",contentTable: String = "")

<!doctype html>

<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TWZHP52');</script>
    <!-- End Google Tag Manager -->
    <title>Table of contents for github readme.md file</title>
    <meta name="description" content=">Generate the table of contents of markdown README.md file">
    <meta name="keywords" content="github,table of content,readme.md">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="http://tableofcontent.eu" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets","readme.css")">

    <!-- Include library -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97111338-2', 'auto');
      ga('send', 'pageview');

    </script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWZHP52"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<h1>Table Of Content Generator</h1>

<label>Inspired by <a href="https://github.com/isaacs/github/issues/215">the lack of table of content generator on github</a></label>
<br />
<label>I just wanted a solution where nothing had to be installed, so I created this site.</label>
<br>
<label>Nothing is perfect, you can <a href="https://github.com/raychenon/play-table-of-contents/issues">report an issue.</a></label>
<br />
<br />

<form action="/" method="POST" id="form-group">
    <label for="github-url">Enter either your <b>github repo link</b> or <b>the content of README.md</b> (only works for <b>master</b> branch for now).
        <br>Then click on Submit</label>
    <br>
    <textarea id="github-url" class="textarea githubUrlTextarea" name="github_url" font-size="18px" type="text"
           placeholder="Ex:https://github.com/raychenon/play-table-of-contents">@githubUrl</textarea>

    @if(githubUrl != "" ){
    <script>
        var url = "@githubUrl"
        ga('send', 'event', 'githubUrl', 'read', url);
    </script>
    }

    <br>
    <label for="readme-txt">Content of your README.md below</label>
    <br>
    <textarea id="readme-txt" name="description" type="text" class="textarea formTextarea" placeholder="copy paste your README.md">@readme</textarea>

</form>
<br>
<button type="submit" form="form-group" class="btn btn-primary"><b>Submit</b></button>



@if(contentTable != "" ){
<br>
<h3>Your table of contents generated</h3>

<textarea readonly id="toc" class="textarea formTextarea" type="text" data-clipboard-text="@contentTable">
@contentTable
</textarea>

@thankyou()
}


<!-- Instantiate clipboard by passing a HTML element -->
<!--<script>-->
    <!--var btn = document.getElementById('toc');-->
    <!--var clipboard = new Clipboard(btn);-->
    <!--clipboard.on('success', function(e) {-->
        <!--console.log(e);-->
    <!--});-->
    <!--clipboard.on('error', function(e) {-->
        <!--console.log(e);-->
    <!--});-->
    <!--</script>-->

</body>
</html>
