@(readme: String = "", githubUrl: String = "",contentTable: String = "")

<!doctype html>

<html lang="en">
<head>
    <title>Table of contents for github readme.md file</title>
    <meta name="description" content=">Generate the table of contents of markdown README.md file">
    <meta name="keywords" content="github,table of content,readme.md">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="http://tableofcontent.eu" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets","readme.css")">

    <!-- Include library -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>-->

</head>

<body>
<h1>Table Of Content Generator</h1>

<label>Inspired by <a href="https://github.com/isaacs/github/issues/215">the lack of table of content generator on github</a></label>
<br />
<label>I just wanted a solution where nothing had to be installed, so I created this site.</label>
<br>
<label>Nothing is perfect, you can <a href="https://github.com/raychenon/play-table-of-contents/issues">report an issue.</a></label>
<br />
<br />

<form action="/" method="POST" id="form-group">
    <label for="github-url">Enter either your <b>github repo link</b> or <b>the content of README.md</b> (only works for <b>master</b> branch for now).
        <br>Then click on Submit</label>
    <br>
    <textarea id="github-url" class="github-url-text" name="github_url" font-size="18px" type="text"
           placeholder="Enter a github link . ex : https://github.com/raychenon/play-table-of-contents">@githubUrl</textarea>

    <br>
    <label for="readme-txt">Content of your README.md below</label>
    <br>
    <textarea id="readme-txt" name="description" type="text" class="form-text" placeholder="copy paste your README.md">@readme</textarea>

</form>
<br>
<button type="submit" form="form-group" class="btn btn-primary"><b>Submit</b></button>



@if(contentTable != "" ){
<br>
<h3>Et voilà</h3>

<textarea readonly id="toc" class="form-text" type="text" data-clipboard-text="@contentTable">
@contentTable
</textarea>

@thankyou()
}


<!-- Instantiate clipboard by passing a HTML element -->
<!--<script>-->
    <!--var btn = document.getElementById('toc');-->
    <!--var clipboard = new Clipboard(btn);-->
    <!--clipboard.on('success', function(e) {-->
        <!--console.log(e);-->
    <!--});-->
    <!--clipboard.on('error', function(e) {-->
        <!--console.log(e);-->
    <!--});-->
    <!--</script>-->

</body>
</html>
